* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

html, body {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1;
  font-family: $font-body;
  font-weight: 400;
  color: map-get($color, text);
  background-color: map-get($color, white);
  overscroll-behavior: contain;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  @include respond-below(small) {
    font-size: 3.55556vw;
  }
}

html {
  height: -webkit-fill-available;
}

img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
}
