button {
  padding: 0;
  margin: 0;
  cursor: pointer;
  border: none;
  outline: 0;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:disabled {
    cursor: not-allowed !important;
  }
}

%btn-active {
  &:active {
    transform: scale(0.95);
  }
}

.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 26px;
  height: 26px;
  padding: 0 6px;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid transparent;
  font-family: $font-body;
  cursor: pointer;
  transition: all .2s ease;

  &.btn-no-border {
    border: 0;
  }

  @mixin btn-color($btn-color) {
    background-color: transparent;
    color: map-get($color, $btn-color);
    border-color: map-get($color, $btn-color);

    &:hover {
      opacity: 0.75;
    }
    @extend %btn-active;
  }

  &-default {
    @include btn-color(text);
    border-color: map-get($color, border);
  }

  // Responsive 1024
  @include respond-above(large) {
    // .btn
    height: 35px;
    min-width: 124px;
    padding: 0 14px;

  }
}
